body{
    background: #FEF3E2;
}

.btn{
display: flex;
margin: 0px auto;
}

.form{
    margin: 50px;
}

.leyendas{
    display: flex;
    justify-content: center;
    gap: 5%;
    margin: 0px 10px;
    
}

#nTarea {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.47);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.47);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.47);
}

.titulo{
    text-transform: uppercase;
    border: ridge  #ffffff 5px;
    background: #FA4032;
    margin: 0px auto;
    color: white;  
-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.47);
-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.47);
box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.47);
}

.descripcion{
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}